.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

























.kontakt-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kontakt-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.kontakt-navlink {
  display: contents;
}
.kontakt-image {
  height: 2rem;
  text-decoration: none;
}
.kontakt-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.kontakt-burger-menu {
  display: none;
}
.kontakt-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.kontakt-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.kontakt-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kontakt-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.kontakt-image1 {
  height: 2rem;
}
.kontakt-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kontakt-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.kontakt-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kontakt-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kontakt-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.kontakt-container2 {
  width: 100%;
  height: 410px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.kontakt-testimonial-card {
  top: 0px;
  left: 300px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.kontakt-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.kontakt-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.kontakt-text04 {
  text-decoration: underline;
}
.kontakt-text07 {
  text-decoration: underline;
}
.kontakt-text08 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kontakt-text09 {
  color: var(--dl-color-gray-500);
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.kontakt-image2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.kontakt-testimonial-card1 {
  top: 0px;
  right: 300px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.kontakt-testimonial1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.kontakt-text13 {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.kontakt-text17 {
  text-decoration: underline;
}
.kontakt-text20 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.kontakt-text21 {
  color: var(--dl-color-gray-500);
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.kontakt-image3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.kontakt-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.kontakt-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.kontakt-navlink1 {
  display: contents;
}
.kontakt-image4 {
  height: 2rem;
  text-decoration: none;
}
.kontakt-text25 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.kontakt-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-text27 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kontakt-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.kontakt-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-text30 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kontakt-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-link3 {
  display: contents;
}
.kontakt-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.kontakt-link4 {
  display: contents;
}
.kontakt-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.kontakt-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.kontakt-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.kontakt-text31 {
  align-self: center;
}
.kontakt-text33 {
  text-align: left;
}
@media(max-width: 1200px) {
  .kontakt-burger-menu {
    display: none;
  }
  .kontakt-mobile-menu {
    display: none;
  }
  .kontakt-container2 {
    height: 402px;
    position: relative;
  }
  .kontakt-testimonial-card {
    top: 0px;
    left: 150px;
    position: absolute;
  }
  .kontakt-text09 {
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
    text-align: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .kontakt-testimonial-card1 {
    top: 0px;
    right: 150px;
    position: absolute;
  }
  .kontakt-text21 {
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
    text-align: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
}
@media(max-width: 991px) {
  .kontakt-text09 {
    align-self: center;
  }
  .kontakt-text21 {
    align-self: center;
  }
}
@media(max-width: 990px) {
  .kontakt-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .kontakt-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kontakt-testimonial-card1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .kontakt-header {
    padding: var(--dl-space-space-unit);
  }
  .kontakt-mobile-menu {
    padding: 16px;
  }
  .kontakt-container2 {
    align-items: flex-start;
  }
  .kontakt-testimonial-card {
    position: static;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .kontakt-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kontakt-text08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .kontakt-text09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .kontakt-testimonial-card1 {
    position: static;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .kontakt-text13 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kontakt-text20 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .kontakt-text21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .kontakt-footer {
    padding: var(--dl-space-space-unit);
  }
  .kontakt-container3 {
    align-items: center;
    flex-direction: column;
  }
  .kontakt-image4 {
    margin-bottom: 0px;
  }
  .kontakt-text25 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kontakt-links-container {
    align-items: center;
    flex-direction: column;
  }
  .kontakt-container4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .kontakt-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .kontakt-text31 {
    text-align: center;
  }
}
