.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}





















.kontakt-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kontakt-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.kontakt-navlink {
  display: contents;
}
.kontakt-image {
  height: 2rem;
  text-decoration: none;
}
.kontakt-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.kontakt-burger-menu {
  display: none;
}
.kontakt-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.kontakt-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.kontakt-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kontakt-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.kontakt-image1 {
  height: 2rem;
}
.kontakt-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kontakt-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.kontakt-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kontakt-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kontakt-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.kontakt-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.kontakt-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.kontakt-navlink1 {
  display: contents;
}
.kontakt-image2 {
  height: 2rem;
  text-decoration: none;
}
.kontakt-text {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.kontakt-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-text02 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kontakt-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.kontakt-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.kontakt-text05 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.kontakt-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kontakt-link {
  display: contents;
}
.kontakt-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.kontakt-link1 {
  display: contents;
}
.kontakt-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.kontakt-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.kontakt-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.kontakt-text06 {
  align-self: center;
}
.kontakt-text08 {
  text-align: left;
}
@media(max-width: 1200px) {
  .kontakt-burger-menu {
    display: none;
  }
  .kontakt-mobile-menu {
    display: none;
  }
}
@media(max-width: 990px) {
  .kontakt-footer {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .kontakt-header {
    padding: var(--dl-space-space-unit);
  }
  .kontakt-mobile-menu {
    padding: 16px;
  }
  .kontakt-footer {
    padding: var(--dl-space-space-unit);
  }
  .kontakt-container2 {
    align-items: center;
    flex-direction: column;
  }
  .kontakt-image2 {
    margin-bottom: 0px;
  }
  .kontakt-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kontakt-links-container {
    align-items: center;
    flex-direction: column;
  }
  .kontakt-container3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .kontakt-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .kontakt-text06 {
    text-align: center;
  }
}
