.gallery-card-schopffest-gallery-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card-schopffest-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card-schopffest-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}

@media(max-width: 1200px) {
  .gallery-card-schopffest-image {
    width: 100%;
    height: 1112px;
  }
}
@media(max-width: 479px) {
  .gallery-card-schopffest-gallery-card {
    left: 0px;
    right: 0px;
    width: 217px;
    bottom: 142px;
    height: 214px;
    margin: auto;
    position: absolute;
    padding-right: 335px;
  }
  .gallery-card-schopffest-image {
    top: 21px;
    left: 0px;
    right: 0px;
    width: 216px;
    height: 122px;
    margin: auto;
    position: absolute;
  }
  .gallery-card-schopffest-text {
    top: 142px;
    left: 78px;
    position: absolute;
  }
}
