<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="info.html" class="navigation-links-navlink"><span>Info</span></a>
    <a href="preise.html" class="navigation-links-navlink1">
      <span>Preise</span>
    </a>
    <a href="team.html" class="navigation-links-navlink2"><span>Team</span></a>
    <a href="kontakt.html" class="navigation-links-navlink3">
      <span>Kontakt</span>
    </a>
    <a href="impressum.html" class="navigation-links-navlink4">
      <span>Impressum</span>
    </a>
  </nav>
</div>
