<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="info.html" class="navigation-links-navlink button">
      <span>Info</span>
    </a>
    <a href="preise.html" class="navigation-links-navlink1 button">
      <span>Preise</span>
    </a>
    <a href="team.html" class="navigation-links-navlink2 button">
      <span>Team</span>
    </a>
    <a href="kontakt.html" class="navigation-links-navlink3 button">
      <span>Kontakt</span>
    </a>
  </nav>
</div>
